.js-backdrop{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
    background-color: var(--color-secondary);
    opacity: 0.5;
}

.js-backdrop-visible{
    display: block;
}

.js-menu-visible{
    display: flex;
}

.js-catalog-close{
    background: url("/icons/ic_menu/close_white.svg") no-repeat 8px center;
    color: var(--color-fav);
    /*border: 1px solid rgba(255, 20, 147, 0.4);*/
}