:root{
    --color-fav: #FF1493;
    --color-basket: #22AC59;
    --color-header-top: #4FC980;

    --color-nav-bottom-item: #37BB4C;
    --color-secondary: #696565;
    --color-delimiter: #D2CFCF;


    --color-star-rating: #FFB800;

    --bg-nav-sub: linear-gradient(180deg, #4FC980 0%, #81E890 68.23%, #A3FD9B 100%);

    --shadow-nav: 0px 5px 10px rgba(0, 0, 0, 0.25);


}


