.search-wrap {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    padding: var(--dm-16);
    box-sizing: border-box;
    font-size: var(--font--std);
    background-color: white;
}

.form-search-mobile{
    display: flex;
}
.search-input-mobile{
    flex-grow: 1;
    margin-right: 16px;
    padding: 5px;
    background-color: #f1f1f5;
    border-radius: 10px;
    font-size: var(--font--big);
}

.js-search-close{
    background: none;
    border: none;
}